<section class="contacts">
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <h3 class="contacts-under-title">Contacts</h3>
      </li>
      <li class="contacts-list-item">
        <h1 class="contacts-title">Contacts</h1>
      </li>
      <li class="contacts-list-item">
        <p class="contacts-text">We'd love to hear from you anytime!</p>
      </li>
    </ul>
    <address class="contacts-adress">
      <ul class="contacts-adress-list">
        <li class="contacts-mail-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="../img/icon.svg#basketball"></use>
          </svg>
          <a href="mailto:hello@organicstore.com" class="contacts-mail-link"
            >hello@organicstore.com</a
          >
        </li>
        <li class="contacts-num-item">
          <svg class="contacts-icon" width="24" height="24">
            <use href=""></use>
          </svg>
          <a href="tel:+15553291024" class="contacts-num-link"
            >+1 (555) 329-1024</a
          >
        </li>
      </ul>
    </address>
    <!-- feedbackform -->
    <form class="feedback-form" name="feedback" autocomplete="off">
      <div class="feedback-wrapper">
        <label class="form-label" for="userName"></label>
        <div class="feedback-field">
          <input class="form-input" name="userName" type="text" id="userName" />
        </div>
      </div>
      <div class="feedback-wrapper">
        <label class="form-label" for="userEmail"></label>
        <div class="feedback-field">
          <input
            class="form-input"
            name="userEmail"
            type="text"
            id="userEmail"
          />
        </div>
      </div>
      <div class="feedback-wrapper">
        <label class="form-label" for="userComment">Comment</label>
        <textarea
          class="feedback-commentar"
          name="userComment"
          id="userComment"
          rows="10"
          placeholder="Text input"
        ></textarea>
        <button class="submit">Submit</button>
        <img src="../img/#" alt="family" />
      </div>
    </form>
  </div>
</section>
