<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">What Our Customers Say</h2>
    <p class="feedbacks-desc">
      We’re proud to grow a community that values health, sustainability, and
      real flavor. Read what our happy customers have to say about their
      experience with our organic products.
    </p>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
      <li class="feedbacks-list-item">
        <div class="feedbacks-item-top">
          <div class="feedbacks-rating">
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
            <svg class="feedbacks-stars" height="18.89" width="20">
              <use
                class="feedback-stars-icon"
                href="../img/icons.svg#star-empty"
              ></use>
            </svg>
          </div>
          <p class="feedbacks-text"></p>
        </div>
        <div class="feedbacks-item-bottom">
          <img src="" alt="" class="profile-pic" />
          <p class="profile-name"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
