.contacts {
  background-color: #e8eee5;
}

.container {
  padding-bottom: 64px;
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 112px 64px;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .contacts-container {
    flex-direction: row;
    gap: 24px;
  }
}

.contacts-container-left {
  flex: 1;
  min-width: 0;
}
.contacts-container-right {
  flex-shrink: 0;
}
.container-contacts-title-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 64px 0 40px;
}

@media only screen and (min-width: 1440px) {
  .container-contacts-title-text {
    padding: 0px 0px 40px;
  }
}
.contacts-under-title {
  font-weight: 600;
  font-size: 16px;
  color: #010400;
  line-height: 1.5;
  padding-bottom: 16px;
}
.contacts-title {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #010400;

  padding-bottom: 24px;
}
.contacts-text {
  color: #010400;
}
.contacts-address {
}
.contacts-address-list {
  font-size: 16px;
}
.contacts-mail-item {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}
.contacts-mail-link,
.contacts-num-link {
  color: #010400;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  transition: opacity 250ms ease-in-out;
}
.contacts-num-item {
  display: flex;
  gap: 16px;
}
.contacts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.contacts-mail-link:hover,
.contacts-mail-link:focus,
.contacts-num-link:hover,
.contacts-num-link:focus {
  opacity: 0.5;
}

.contacts-mail-link:active,
.contacts-num-link:active {
  opacity: 0.6;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 24px;
}

@media only screen and (min-width: 1440px) {
  .feedback-form {
    width: 100%;
    padding: 0;
  }
}

.feedback-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}
.form-label {
  font-weight: 400;
  font-size: 16px;
  color: #010400;
  padding-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
  .form-label {
    padding-bottom: 8px;
  }
}
.feedback-field {
  border-bottom: 1px solid rgba(1, 4, 0, 0.15);
  padding-block: 8px;
  padding-inline: 0px;
}

@media only screen and (min-width: 1440px) {
  .feedback-field {
    width: 100%;
  }
}

.form-input {
  font-weight: 400;
  font-size: 16px;
  color: #010400;

  width: 100%;
  border: none;
  outline: none;

  background-color: transparent;
  transition: border-color 250ms ease-in-out;
}

.form-input::placeholder {
  color: rgba(1, 4, 0, 0.6);
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #a00000;
}

.form-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}
.form-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
  color: #a00000;
}

.form-input:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
  color: #3cbc81;
}

.text-valid,
.text-invalid {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.feedback-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #010400;
  background: transparent;
  border: 1px solid rgba(1, 4, 0, 0.15);
  resize: none;
  outline: none;
  padding: 12px;
  width: 100%;
  transition: border-color 250ms ease-in-out;
}

@media only screen and (min-width: 1440px) {
  .feedback-message {
    height: 166px;
  }
}

.feedback-message:not(:placeholder-shown):invalid {
  border-color: #a00000;
}

.feedback-message::placeholder {
  color: rgba(1, 4, 0, 0.6);
}

.message-error {
  display: none;
  font-size: 16px;
  color: #a00000;
}

.feedback-message:not(:placeholder-shown):invalid:active ~ .message-error {
  display: block;
  border-radius: red;
}

.submit-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #1a5901;

  border: 1px solid #1a5901;
  border-radius: 6px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .submit-btn {
    width: 343px;
  }
}

@media only screen and (min-width: 1440px) {
  .submit-btn {
    width: 198px;
    height: 36px;
  }
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #5e8a4d;
  color: #010400;
}
.submit-btn:active {
  background-color: #1a5901;
  opacity: 0.2;
}
.contacts-image {
  object-position: center;
  display: block;
  object-fit: cover;
  width: 343px;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .contacts-image {
    width: 704px;
    height: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .contacts-image {
    width: 644px;
    height: 757px;
  }
}
